html{
    font-family:'Open Sans', sans-serif;
    font-weight:300;
}

body {
    font-family:'Open Sans', sans-serif;
    font-weight:300;
}

a{
    color:#a41e35 ;
}

h3{
    font-size:35px;
    color:#a41e35;
}

h4 {
    font-size: 12px;
    color: #a41e35;
    text-align: center;
    width:-webkit-fill-available;
}

h5{
    color:#a41e35;
}
/*                                view inventroy                                   */
.invImg{
    max-width:100px;
}

.lblDiv{
    margin-right:10px;
}

.editItemBtn{
    height:40px;
    width:150px;
}

.itemContainer{
    margin-top:15px;
    margin-bottom:15px;
    height:100%;
    overflow:auto;
}

.headingIcon{
    font-size:28px;
    margin-left:10px;
    color:#a41e35;
}

.itemRow{
    margin-bottom:5px;
}

.itemText{
    border:none;
}


.searchTxt{
    text-align:center;
    border-radius:20px;
    border:1px solid;
}

.topNav{
    margin-top:40px;
    margin-bottom:40px;
}

.botNav{
    margin-top:40px !important;
}

.myBtn{
    background-color:#a41e35;
    color:white;
    border:2px solid #a41e35bf;
    border-radius:5px;
}

.page-link{
    color:#a41e35 ;
}

.page-item.active .page-link{
    background-color:#a41e35 !important;
    border-color:#a41e35 !important;
    color:white;
}

.ddFilter{
    border:1px solid;
    border-radius:5px;
}

.UpcSearchbtn{
    color:#a41e35;
}

.input-group {
    width: 200px;
}

.inventoryddl{
    width:auto;
}
/*                                add item                                   */
.addItemImg {
    font-size: 33px;
    position: relative;
}

/*.ddDesc{
    border:1px solid;
    border-radius:5px;
}*/

.rowDetail{
    height:40px;
}

.rowItems{
    height:30px;
    padding:5px 0;
}

/*.borderControl{
    border:1px solid;
    border-radius:5px;
}*/

.containercontainer{
    height:50vh;
}

.addItemBtnDiv {
    text-align: center;
    justify-content: center;
    margin: 30px 0;
}

.affiliateCol{
    margin:0 30px;
}

#closeDiv{
    margin:15px 0;
}

.hideTop{
    display:none;
}

.additemrow{
    margin-bottom:15px;
}

#botPortion{
    margin-bottom:40px;
}