

.lblChkReceipt {
    font-size: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    height: 10%;
}

.pagination1 {
    bottom: 0;
    position: fixed;
}

.lblReceipt {
    background-color: white;
    font-size: 20px;
    font-weight: bold;
}

#details1 {
    display: none;
}

#details2 {
    display: none;
}

#details3 {
    display: none;
}

#details {
    display: none;
}

#details21 {
    display: none;
}

glyphicon glyphicon-plus {
    color: black;
}

.btn btn-primary {
    background-color: #a41e35;
}

html {
    white-space: normal;
}

.chkContainer {
    background-color: white;
    border-radius: 10px;
}

    .chkContainer :hover {
        background-color: lightgray;
        color: black;
        border-radius: 10px;
    }

.chkContainerText :hover {
    background-color: lightgray;
    color: black;
    border-radius: 10px;
}
